body{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.667) 30%, tomato);
}

img{
    max-width: 100%;
}

.col>img{
    width: 100%;
}


.col{
    border: 3px solid #616106;
    background-color: #dadacd;
    cursor: pointer;
}
.col:hover{
    opacity: 0.6;
}

.car-info{
    background-color: black;
    padding: 1rem;
}

ul>li{
    list-style: none;
    color: rgb(206, 138, 10);
}

ul>span{
    color: aquamarine;
    
}

ul>span>a{
    color: rgb(9, 214, 9);
}

ul>span>a:hover{
    color: rgb(219, 10, 10);
}
.addCart{
    float: right;
}


.nav-item{
    padding-left: 2rem;
   
    
}

nav{
    display: none;
}

.nav-link{
    color: rgba(255, 217, 0, 0.564);
}

.nav-link:hover{
    background-color: rgba(223, 14, 56, 0.827);
}

.logo{
    padding-right: 3rem;
}

.search{
    width: 50%;
}

.hero{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.hero-content{
    color: rgba(218, 165, 32, 0.711);
    width: 50%;
    padding: 1rem;
}

.carousel{
    width: 100%;
    height: 30vh;
}



#gallery-modal .modal-img{
    width: 100%;
}

.navbar-toggler-icon{
    color: #dadacd;
}


.offcanvas{
    margin-top: 3rem;
    height: 30vh;
}

@media (max-width:568px) {
    .offcanvas{
        height: 29vh;
    }
}

.canvas-msg{
    font-family:'Tahoma' ;
}

/* Media Query */
@media (max-width:339px) {
    *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }


    .Home{
        padding-bottom: 1rem;
    }

    .Home-content{
        width: 100%;
        margin: 1rem;
    }

    .Home-content h1{
        font-size: 1rem;
    }

    .get-started{
        width: 90%;
    }

    .navbar-toggler{
        display: block;
        float: left;
        margin-top: 1rem;
    }

    .logo{
        display: none;
    }

}

@media (max-width:398px) {
    .Back{
        display: none;
    }
    
}


@media (max-width: 576px) {
    .search{
        width: 100%;
    }  
}


@media (max-width:991px) {
    .logo{
        margin-left: 2rem;
    }

    .search{
        width: 100%;
        margin-left: 2rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
    }

    .hero-content{
    color: rgba(218, 165, 32, 0.711);
    width: 100%;
    padding: 1rem;
}

.carousel{
    width: 100%;
    height: 30vh;
}
    
}



